<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../dist/bundle.js" type="text/javascript"></script>
    <title>NLP Project</title>
</head>
<body>
    <div class="nav-bar">NLP Processor</div>
    <div class="container">
        <form role="form" method="POST" name="blogForm">
            <label for="article">content</label>
            <textarea name="article" id="article" cols="30" rows="10" placeholder="Enter your article here"></textarea>
            <button onclick="return Client.handleSubmit(event)">Analyze Article</button>
        </form>
        <div>
            <p>Determine the sentiment expressed in a text as positive, negative, or neutral. This helps in understanding the overall opinion or attitude conveyed by the text.</p>
        </div>
    </div>
    <div id="root"></div> <!--Results-->
    <div class="error">Invalid input! Try again</div>
    <footer>
        <ul>@udacity-Fend</ul>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
            .then(registration => {
                console.log('Service Worker registered successfully:', registration);
                    })
                    .catch(error => {
                        console.log('Service Worker registration failed:', error);
                    });
            });
        }

    </script>
</body>
</html>