$box-shadow : 0 0 3px rgba(0 , 0 , 0, 0.5);
.container {
  width: 80%;
  margin: 0 auto;
  label {
    display: block;
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: $box-shadow;
  }

  button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
  }

  textarea:focus{
    outline: 2px lightblue solid;
  }

}

